@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #3b82f6;
  --color-bg-dark: #0f172a;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--color-bg-dark);
}